.chalk-font-35 {
  font-family: 'Marmelad', sans-serif;
    font-size: 25px;
    z-index: 3;
    color: #1976d2;
  }
  
.chalk-font-45 {
  font-family: 'Marmelad', sans-serif;
    font-size: 45px;
    margin: 20px 0px;
    z-index: 3;
    color: #1976d2;
  }

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}